{% extends 'base1.html' %}
{% load static %}
{% block main_content %}
    <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                  
                </div>
              
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span>&#8377; {{total_revenue}}</span>
                                <!-- <span class="text-sm">
                                    Shipping fees are not included
                                </span> -->
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span>{{total_orders}}</span>
                                <span class="text-sm">
                                    Excluding orders in transit
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span>{{total_products}}</span>
                                <span class="text-sm">
                                    In {{total_categories}} Categories
                                </span>
                            </div>
                        </article>
                    </div>
                </div>  
                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-danger material-icons md-people"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Customers</h6> <span>{{total_customers}}</span>
                                <!-- <span class="text-sm">
                                    In {{total_categories}} Categories
                                </span> -->
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">New Orders</h6> <span>{{new_orders}}</span>
                                <!-- <span class="text-sm">
                                    In {{total_categories}} Categories
                                </span> -->
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-danger material-icons md-people"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">New Customers</h6> <span>{{new_customers}}</span>
                                <!-- <span class="text-sm">
                                    In {{total_categories}} Categories
                                </span> -->
                            </div>
                        </article>
                    </div>
                </div>          
            </div>
      
      </section> <!-- content-main end// -->
{% endblock main_content %}